input{
  width: 40vw;
  height: 4vh;
  margin-top: 50px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  font-size: 20px;
  padding-left: 40px;
}

button{
  margin-left: 15px;
  width: 12vw;
  height: 5vh;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}