.task{
  width: 90%;
  height: 6%;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.content{
  width: 85%;
  padding-left: 20px;
  border-right: 2px solid white;
  color: white;
}

.buttons{
  display: flex;
  flex-direction: row;
  user-select: none;
}

.buttons>div{
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

.done{
  text-decoration: line-through;
  color: lightslategrey;
  border-color: lightslategray;
}